.container {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.workSpace {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 70px;
  padding-bottom: 30px;
}
